.carousel-container {
    width: 100%;

    .header-carousel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1vh;

        & h3 {
            color: $blue-1
        }

        .header-see-more {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20vh;

            & img {
                width: 4vh;
                height: 4vh;
                filter: invert(44%) sepia(95%) saturate(420%) hue-rotate(145deg) brightness(101%) contrast(93%);
            }
        }
    }

    & img {
        width: 1960px;
        object-fit: cover;
        height: 1080px;
    }

    .swiper-container {
        margin: 0 auto;
    }

}

.purple-band {
    background-color: $purple-1;
    height: 7vh;
    width: 100%;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {
    .carousel-container {
        .header-carousel {

            h1 {
                font-size: 2.3vh;
            }

            h3 {
                font-size: 2vh;
            }

            .header-see-more {
                width: 10vh !important;

                img {
                    width: 2vh !important;
                    height: 2vh !important;
                    filter: invert(44%) sepia(95%) saturate(420%) hue-rotate(145deg) brightness(101%) contrast(93%);
                }
            }
        }

        img {
            height: 40vh;
            width: 100%;
            object-fit: cover;
        }

        .swiper-container {
            height: 90%;

        }

    }

    .purple-band {
        height: 5vh;
    }
}

/* iPads, Tablets */
@media (min-width : 481px) and (max-width : 768px) {
    .carousel-container {
        .header-carousel {

            h1 {
                font-size: 2.3vh;
            }

            h3 {
                font-size: 2vh;
            }

            .header-see-more {
                width: 10vh !important;

                img {
                    width: 2vh !important;
                    height: 2vh !important;
                    filter: invert(44%) sepia(95%) saturate(420%) hue-rotate(145deg) brightness(101%) contrast(93%);
                }
            }
        }

        img {
            height: 40vh;
            width: 100%;
            object-fit: cover;
        }

        .swiper-container {
            height: 90%;

        }

    }

    .purple-band {
        height: 5vh;
    }
}

/* Small screens, laptops */
@media (min-width : 769px) and (max-width : 1022px) {
    .carousel-container {
        .header-carousel {

            h1 {
                font-size: 2.3vh;
            }

            h3 {
                font-size: 2vh;
            }

            .header-see-more {
                width: 10vh !important;

                img {
                    width: 2vh !important;
                    height: 2vh !important;
                    filter: invert(44%) sepia(95%) saturate(420%) hue-rotate(145deg) brightness(101%) contrast(93%);
                }
            }
        }

        img {
            height: 55vh;
            width: 100%;
            object-fit: cover;
        }

        .swiper-container {
            height: 90%;

        }

    }

}

/* Desktops, large screens */
@media (min-width : 1025px) and (max-width : 1200px) {}

/* Extra large screens, TV */
@media (min-width : 1201px) {}