form {
    width: 100%;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .inputs-group {
        width: 100%;
        margin: 1vh auto;

        .input-form {
            border: 1px solid $gray;
            height: 5vh;
            width: 100%;
            margin: 1vh auto;
            padding: 1vh;
            border-radius: 1vh;
            background-color: $white;

            &:hover {
                background-color: $white;
                box-shadow: 0px 0px 0px 0.7vh $purple-1;
                transition: all 0.2s ease-in-out;
            }

            &:focus {
                border: 1px solid $white;
                box-shadow: 0px 0px 0px 0.7vh $purple-1;
                transition: all 0.2s ease-in-out;
            }
        }

        & input[type="submit"] {
            width: 100%;
            height: 6vh;
        }
    }
}

.sign-in-container {
    width: 70vh;
    display: flex;
    flex-direction: column;
    padding: 1vh;

    h1 {
        text-align: center;
        font-size: 6vh;
    }

    p {
        text-align: center;
    }

    .google-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #4285F4;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.54) 0px 0px 8px;

        p {
            width: 45%;
        }

        div {
            width: 10%;
        }

        img {
            width: 2vh;
        }
    }
}

.sign-up-container {
    width: 70vh;
    height: auto;
    // height: 78vh;
    display: flex;
    flex-direction: column;
    padding: 1vh;

    h1 {
        text-align: center;
        font-size: 5vh;
    }

    p {
        text-align: center;
    }

    .inputs-group {
        margin: 0;
        height: 11vh;
    }

    .input-form {
        margin: 0;
    }

}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {

    .sign-in-container {
        width: 100%;

        h1{
            font-size: 170%;
        }

        p{
            font-size: 1.7vh;
        }
    }

    .sign-up-container {
        width: 100%;

        h1{
            font-size: 4vh;
        }

        p{
            font-size: 1.7vh;
        }

    }
}

/* iPads, Tablets */
@media (min-width : 481px) and (max-width : 768px) {}

/* Small screens, laptops */
@media (min-width : 769px) and (max-width : 1020px) {}

/* Desktops, large screens */
@media (min-width : 1025px) and (max-width : 1200px) {}

/* Extra large screens, TV */
@media (min-width : 1201px) {}