.bloc-demande-container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(90deg, rgb(242, 207, 13), rgb(242, 207, 13) 47%, rgba(255, 255, 255, 0) 70%);
}

.bloc-demande-container {
    position: relative;
    width: 100%;
    height: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 130vh;
    background-image: url('../assets/Blocs/Demandes.jpeg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15vh;

    h1 {
        position: relative;
        color: white;
        font-size: 14vh;
        line-height: 10.3vh;
        letter-spacing: -0.2vh;
    }

    h2 {
        position: relative;
        font-size: 4.5vh;
        width: 43%;
        line-height: 5vh;
        letter-spacing: -0.2vh;
        margin: 2vh 0;
        color: #ae8e10;
    }


    .btn-demand {
        position: relative;
        width: 40vh;
        height: 40vh;
        border-radius: 1vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 3vh;
        background-color: #ae8e10;
        transition: all 0.5s ease-in-out;
        cursor: pointer;


        &:hover {
            color: #ae8e10;
            background-color: #fff;
            cursor: pointer;
        }
    }
}