.bloc-events-container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(-90deg, #3c86ac, #3c86ac 37%, #652d8b40 60%);
    mix-blend-mode: color;
}

.bloc-events-container {
    position: relative;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/Blocs/Events.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15vh;

    h1 {
        position: relative;
        color: white;
        font-size: 13vh;
        line-height: 10.3vh;
        letter-spacing: -1.1vh;
        margin: 3vh 0;
    }

    h2 {
        position: relative;
        font-size: 4vh;
        line-height: 2vh;
        margin: 2vh 0;
        color: #fff;
    }

    .ref {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;
        background-color: #3c86ac;
        width: 10%;
        padding: 0.3vh;
        border-radius: 10px;
    }

    p {
        position: relative;
        color: #333333;
        font-size: 3vh;

    }

    .btn-visit {
        position: relative;
        width: 40vh;
        margin: 1vh 0;
        padding: 0.4vh;
        width: 40vh;
        border-radius: 1vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 3vh;
        background-color: #3c86ac;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
            color: #3c86ac;
            background-color: #fff;
            cursor: pointer;
        }
    }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {
    .bloc-events-container::before {
        background-image: linear-gradient(0deg, #3c86ac, #3c86ac 37%, #652d8b40 60%);

    }

    .bloc-events-container {
        background-position: center;
        background-size: cover;
        height: 60vh;
        padding: 0;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1vh;

        h1 {
            font-size: 6vh;
            line-height: 0.8;
            letter-spacing: -0.2vh;
        }

        h2 {
            font-size: 2.2vh;
            width: 100%;
            margin: 0;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
        }

        .ref {
            width: 30%;
            font-size: 1.6vh;
            height: 7%;
        }

        p {
            font-size: 2vh;
            line-height: 1;
        }

        .btn-visit {
            width: 100%;
            height: 6vh;
            font-size: 3vh;
            margin: 1vh 0;

        }
    }
}

/* iPads, Tablets */
@media (min-width : 481px) and (max-width : 768px) {
    .bloc-events-container::before {
        background-image: linear-gradient(0deg, #3c86ac, #3c86ac 37%, #652d8b40 60%);

    }

    .bloc-events-container {
        background-position: center;
        background-size: cover;
        height: 60vh;
        padding: 0;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1vh;

        h1 {
            font-size: 6vh;
            line-height: 0.8;
            letter-spacing: -0.2vh;
        }

        h2 {
            font-size: 2.2vh;
            width: 100%;
            margin: 0;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
        }

        .ref {
            width: 30%;
            font-size: 1.6vh;
            height: 7%;
        }

        p {
            font-size: 2vh;
            line-height: 1;
        }

        .btn-visit {
            width: 100%;
            height: 6vh;
            font-size: 3vh;
            margin: 1vh 0;

        }
    }
}

/* Small screens, laptops */
@media (min-width : 769px) and (max-width : 1020px) {
    .bloc-events-container::before {
        background-image: linear-gradient(0deg, #3c86ac, #3c86ac 37%, #652d8b40 60%);

    }

    .bloc-events-container {
        background-position: center;
        background-size: cover;
        height: 60vh;
        padding: 0;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1vh;

        h1 {
            font-size: 6vh;
            line-height: 0.8;
            letter-spacing: -0.2vh;
        }

        h2 {
            font-size: 2.2vh;
            width: 100%;
            margin: 0;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
        }

        .ref {
            width: 30%;
            font-size: 1.6vh;
            height: 7%;
        }

        p {
            font-size: 2vh;
            line-height: 1;
        }

        .btn-visit {
            width: 100%;
            height: 6vh;
            font-size: 3vh;
            margin: 1vh 0;

        }
    }
}

/* Desktops, large screens */
@media (min-width : 1025px) and (max-width : 1200px) {}

/* Extra large screens, TV */
@media (min-width : 1201px) {}