.bloc-events-container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(-90deg, #3c86ac, #3c86ac 37%, #652d8b40 60%);
    mix-blend-mode: color;
}

.bloc-events-container {
    position: relative;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/Blocs/Events.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15vh;

    h1 {
        position: relative;
        color: white;
        font-size: 14vh;
        line-height: 20vh;
        letter-spacing: -0.2vh;
    }

    h2 {
        position: relative;
        font-size: 4.5vh;
        line-height: 3vh;
        margin: 2vh 0;
        color: #fff;
    }

    .ref {
        padding: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;
        background-color: #3c86ac;
        width: 13vh;
        border-radius: 2vh;
    }

    p {
        position: relative;
        color: #333333;
        font-size: 3vh;

    }

    .btn-visit {
        position: relative;
        margin: 2vh 0;
        width: 40vh;
        height: 40vh;
        border-radius: 1vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 3vh;
        background-color: #3c86ac;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
            color: #3c86ac;
            background-color: #fff;
            cursor: pointer;
        }
    }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {
    .bloc-events-container {


        h1 {
            font-size: 3vh;
        }

        h2 {
            font-size: 2vh;
        }

        p {}

        .btn-visit {
            width: 2vh;
            font-size: 3vh;
        }
    }
}

/* iPads, Tablets */
@media (min-width : 481px) and (max-width : 768px) {
    .bloc-events-container {


        h1 {
            font-size: 3vh;
        }

        h2 {
            font-size: 2vh;
        }

        p {}

        .btn-visit {
            width: 2vh;
            font-size: 3vh;
        }
    }
}

/* Small screens, laptops */
@media (min-width : 769px) and (max-width : 1024px) {
    .bloc-events-container {


        h1 {
            font-size: 3vh;
        }

        h2 {
            font-size: 2vh;
        }

        p {}

        .btn-visit {
            width: 2vh;
            font-size: 3vh;
        }
    }
}

/* Desktops, large screens */
@media (min-width : 1025px) and (max-width : 1200px) {
    .bloc-events-container {


        h1 {
            font-size: 3vh;
        }

        h2 {
            font-size: 2vh;
        }

        p {}

        .btn-visit {
            width: 2vh;
            font-size: 3vh;
        }
    }
}

/* Extra large screens, TV */
@media (min-width : 1201px) {
    .bloc-events-container {


        h1 {
            font-size: 3vh;
        }

        h2 {
            font-size: 2vh;
        }

        p {}

        .btn-visit {
            width: 2vh;
            font-size: 3vh;
        }
    }
}