.events-board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: scroll;

    .header {
        height: 10%;
        width: 100%;
        padding: 4vh;

        h1 {
            font-size: 5vh;
            color: $purple-1;
            font-family: $sofiaMedium;
        }
    }

    .events-container {
        height: 90%;
        width: 100%;
        padding: 2vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .paroisse-add-element {
            height: 45%;
            width: 17%;
            border-radius: 3vh;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: $blue-1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1vh 1vh;
            cursor: pointer;


            img {
                width: 50%;
                filter: brightness(1) invert(1);
            }
        }

        .paroisse-element {
            height: 45%;
            width: 17%;
            margin: 1vh 1vh;
            background-color: $white;
            border-radius: 3vh;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            overflow: hidden;

            .paroisse-infos {
                height: 85%;
                width: 100%;

                .paroisse-infos-image {
                    height: 60%;
                    width: 100%;
                    border-radius: 3vh;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                .paroisse-infos-name {
                    padding: 1vh;

                    h4 {
                        font-size: 2.2vh;
                        font-weight: 800;
                    }
                }
            }

            .paroisse-element-footer {
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 1vh;

                .footer-view {
                    width: 5vh;
                    height: 5vh;
                    margin-right: 1vh;
                    border-radius: 100%;
                    background-color: $blue-1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    img {
                        width: 60%;
                        filter: brightness(1) invert(1);
                    }
                }

                .footer-edit {
                    width: 5vh;
                    height: 5vh;
                    margin-right: 1vh;
                    border-radius: 100%;
                    background-color: $blue-1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    img {
                        width: 60%;
                        filter: brightness(1) invert(1);
                    }
                }

                .footer-delete {
                    width: 5vh;
                    height: 5vh;
                    border-radius: 100%;
                    background-color: $red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    img {
                        width: 60%;
                        filter: brightness(1) invert(1);
                    }

                }
            }
        }
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000067;
    z-index: 2;


    .form-group-container {
        width: 70%;
        height: 90%;
        background-color: $white;
        border-radius: 5vh;


        .container-header {
            padding: 2vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $purple-1;

            h1 {
                color: $white;
            }

            .form-closer {
                width: 10%;
                height: 5vh;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                border-radius: 3vh;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: $purple-2;
                    color: $white;
                }
            }
        }

        .form-elements-container {
            height: 79vh;
            overflow: scroll;

            form {
                .form-group {
                    padding: 1vh;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 2.5vh;
                        font-family: $sofiaMedium;
                        margin-bottom: 1vh;
                    }

                    input {
                        border: 1.8px solid #cdcdcd;
                        background-color: transparent;
                        padding: 1vh;
                        height: 5.5vh;
                        border-radius: 1vh;
                        text-transform: capitalize;
                        transition: all 0.3s ease-out;

                        &:focus {
                            border: 3px solid $blue-1;
                        }
                    }

                    textarea {
                        border: 1.8px solid #cdcdcd;
                        background-color: transparent;
                        font-family: $sofiaRegular;
                        padding: 1vh;
                        height: 50vh;
                        border-radius: 1vh;
                        text-transform: capitalize;
                        transition: all 0.3s ease-out;

                        &:focus {
                            border: 3px solid $blue-1;
                        }

                    }

                }

                .dates-group {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 1vh;

                    h2 {
                        margin: auto 1vh;
                    }

                    .datepicker-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1vh;
                        width: 20vh;
                        height: 4vh;
                        margin-left: 1vh;
                        border: 2px solid $gray;
                        border-radius: 1vh;

                        input[type="date"] {
                            font-family: $sofiaRegular;
                            font-size: 1.6vh;
                            color: #282828;
                        }
                    }

                    .hourpicker-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1vh;
                        width: 20vh;
                        height: 4vh;
                        margin-left: 1vh;
                        border: 2px solid $gray;
                        border-radius: 1vh;

                        input[type="time"] {
                            font-family: $sofiaRegular;
                            font-size: 1.6vh;
                            color: #282828;
                        }
                    }

                    .plus-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        width: 5vh;
                        height: 5vh;
                        background-color: $blue-1;
                        color: white;
                        margin: auto 1vh;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        img {
                            width: 3vh;
                            filter: brightness(1) invert(1);

                        }
                    }
                }

                .form-group-group {
                    width: 100%;
                    display: flex;
                    flex-direction: row;

                    .form-group {
                        label {
                            font-size: 2.5vh;
                            font-family: $sofiaMedium;
                            margin-bottom: 1vh;
                        }

                        input {
                            border: 1.8px solid #cdcdcd;
                            background-color: transparent;
                            padding: 1vh;
                            height: 5.5vh;
                            border-radius: 1vh;
                            text-transform: capitalize;
                            transition: all 0.3s ease-out;

                            &:focus {
                                border: 3px solid $blue-1;
                            }
                        }
                    }

                }

                .location-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 70vh;
                    width: 98%;

                    h1 {
                        width: 98%;
                    }

                    .location-map-container {
                        height: 60vh;
                        width: 98%;
                        border-radius: 2vh;
                        overflow: hidden;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                }

                .programmes {
                    width: 100%;
                    padding: 1vh;

                    .programme {
                        padding: 1vh;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


                        .programme-content {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 100%;
                            height: 70vh;
                            flex-wrap: wrap;

                            .day-block {
                                width: 90%;
                                margin-top: 2vh;
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;

                                .day-title {
                                    font-family: $sofiaRegular;
                                    width: 25%;
                                }

                                .select-element {
                                    border: 1px solid #ccc;
                                    width: 100%;
                                    height: 5vh;
                                    border-radius: 1vh;
                                    font-size: 2.5vh;
                                }
                            }
                        }
                    }
                }

                .pictures {
                    width: 98%;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    padding: 1vh;

                    .pictures-title {}

                    .pictures-content {
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                        .file-upload {
                            height: 15vh;
                            width: 15vh;
                            border-radius: 100px;
                            position: relative;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            border: 4px solid #FFFFFF;
                            overflow: hidden;
                            background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
                            background-size: 100% 200%;
                            transition: all 1s;
                            color: #FFFFFF;
                            font-size: 10vh;

                            input[type='file'] {

                                height: 200px;
                                width: 200px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                cursor: pointer;

                            }

                            &:hover {

                                background-position: 0 -100%;

                                color: #2590EB;

                            }


                        }

                        .pictures-blocks-container {
                            padding: 1vh;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;

                            .picture-block {
                                width: 20vh;
                                height: 30vh;
                                border-radius: 1vh;
                                margin-top: 2vh;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                overflow: hidden;

                                img {
                                    width: 19vh;
                                    height: 25vh;
                                    border-radius: 1vh;
                                    object-fit: cover;
                                }

                                .close-btn {
                                    margin-top: 1vh;
                                    height: 5vh;
                                    width: 14vh;
                                    background-color: $blue-1;
                                    color: $white;
                                    border-radius: 1vh;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: pointer;
                                    transition: all 0.3s ease-in-out;

                                    &:hover {
                                        background-color: $red;
                                    }
                                }
                            }
                        }
                    }
                }

                .btn-group {
                    width: 100%;
                    padding: 1vh;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    input[type="submit"] {
                        width: 70%;
                    }

                    input[type="reset"] {
                        background-color: #e71c1c;
                        color: $white;
                        width: 27%;
                        height: 5vh;
                        border-radius: 1vh;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}