.footer-container {
    width: 100%;
    border-top: 4vh solid $purple-4;
    display: flex;
    padding: 2vh;
    background-color: $white;

    & .footer-left-part {
        width: 30%;
        padding: 1vh;
        filter: saturate(0.1);


        & img {
            width: 20vh;
        }

        & p {
            width: 40vh;
        }
    }

    & .footer-right-part {
        width: 70%;
        padding: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;

        & ul {
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

    }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {
    .footer-container {

        .footer-left-part {

            img {
                width: 10vh;
            }

            p {
                width: 3vh;
            }
        }

        .footer-right-part {
            font-size: 1vh;
        }
    }
}