.SearchBar-container {
    width: 100%;
    height: 8vh;
    background-color: $purple-5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .SearchBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 2vh;
        width: 50vh;
        padding: 1vh;

        input[type="text"] {
            background-color: white;
            width: 40vh;
            height: 5vh;
            padding: 1vh;
            border-radius: 1.3vh;
            font-size: 1.8vh;
        }
    }
}