.search-list-container {
    z-index: 3;
    position: absolute;
    margin: 0 2vh;
    top: 18vh;
    width: 50vh;
    padding: 1vh;

    .result-container {
        width: 100%;
        height: 31.2vh;
        overflow: scroll;

        .result-element {
            width: 95%;
            height: 6vh;
            border-radius: 2vh;
            padding: 1vh;
            background-color: #fff;
            margin: 0.2vh auto;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            .list-img-c {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5.3vh;
                height: 5.3vh;
                overflow: hidden;
                border-radius: 100%;
                margin: 0 1vh;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            p {
                width: 80%
            }

            &:hover {
                transform: scale(1.04);
            }
        }
    }
}