.bloc-subscribe-container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(270deg, #652d8b, rgb(101, 45, 139) 50%, rgba(255, 255, 255, 0) 70%);

}

.bloc-subscribe-container {
    position: relative;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets/Blocs/Suscribe.jpg');
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 15vh;

    h1 {
        position: relative;
        color: white;
        font-size: 13vh;
        line-height: 10.3vh;
        letter-spacing: -1.1vh;
    }

    h2 {
        position: relative;
        font-size: 4vh;
        line-height: 3vh;
        margin: 2vh 0;
        color: #fff;
    }

    .btn-visit {
        position: relative;
        width: 40vh;
        margin: 1vh 0;
        padding: 0.4vh;
        width: 40vh;
        border-radius: 1vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 3vh;
        background-color: #3d1657;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
            color: #652d8b;
            background-color: #fff;
            cursor: pointer;
        }
    }
}


/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {
    .bloc-subscribe-container::before {
        background-image: linear-gradient(0deg, #652d8b, rgb(101, 45, 139) 50%, rgba(255, 255, 255, 0) 70%);
    }

    .bloc-subscribe-container {
        background-position: center 0 1vh;
        background-size: cover;
        height: 60vh;
        padding: 0;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1vh;

        h1 {
            font-size: 6vh;
            line-height: 0.8;
            letter-spacing: -0.2vh;
        }

        h2 {
            font-size: 2.5vh;
            line-height: 0;
            width: 100%;
        }

        p {
            font-size: 2vh;
            line-height: 1;
        }

        .btn-visit {
            width: 100%;
            height: 6vh;
            font-size: 3vh;
            margin: 1vh 0;
        }
    }
}

/* iPads, Tablets */
@media (min-width : 481px) and (max-width : 768px) {
    .bloc-subscribe-container::before {
        background-image: linear-gradient(0deg, #652d8b, rgb(101, 45, 139) 50%, rgba(255, 255, 255, 0) 70%);
    }

    .bloc-subscribe-container {
        background-position: center 0 1vh;
        background-size: cover;
        height: 60vh;
        padding: 0;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1vh;

        h1 {
            font-size: 6vh;
            line-height: 0.8;
            letter-spacing: -0.2vh;
        }

        h2 {
            font-size: 2.5vh;
            line-height: 0;
            width: 100%;
        }

        p {
            font-size: 2vh;
            line-height: 1;
        }

        .btn-visit {
            width: 100%;
            height: 6vh;
            font-size: 3vh;
            margin: 1vh 0;
        }
    }
}

/* Small screens, laptops */
@media (min-width : 769px) and (max-width : 1024px) {
    .bloc-subscribe-container::before {
        background-image: linear-gradient(0deg, #652d8b, rgb(101, 45, 139) 50%, rgba(255, 255, 255, 0) 70%);
    }

    .bloc-subscribe-container {
        background-position: center 0 1vh;
        background-size: cover;
        height: 60vh;
        padding: 0;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1vh;

        h1 {
            font-size: 6vh;
            line-height: 0.8;
            letter-spacing: -0.2vh;
        }

        h2 {
            font-size: 2.5vh;
            line-height: 0;
            width: 100%;
        }

        p {
            font-size: 2vh;
            line-height: 1;
        }

        .btn-visit {
            width: 100%;
            height: 6vh;
            font-size: 3vh;
            margin: 1vh 0;
        }
    }
}

/* Desktops, large screens */
@media (min-width : 1025px) and (max-width : 1200px) {}

/* Extra large screens, TV */
@media (min-width : 1201px) {}