.actus-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .head {
        width: 100%;

        img {
            width: 100%;

        }
    }

    .paroisse-name {
        padding: 2vh;
        width: 95%;
        margin: 2vh 0;
        font-family: $sofiaSemiBold;
        letter-spacing: -0.9vh;
        line-height: 10vh;
        font-size: 10vh;
        text-transform: uppercase;
        color: #8f9090;
    }

    .actus-container {
        width: 100%;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .actu-bloc {
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1vh;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin: 1vh 0;

            .actu-bloc-left {
                width: 40%;
                height: 40vh;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }

            .actu-bloc-right {
                width: 70%;
                padding: 1vh;
                margin: 0 1vh;
                font-size: 2.6vh;
                font-family: $sofiaMedium;
                letter-spacing: -0.1vh;

                & :nth-child(1) {
                    font-size: 3vh;
                    font-family: $sofiaSemiBold;
                }
            }
        }
    }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {
    .actus-container {

        .paroisse-name {
            font-size: 5vh !important;
            letter-spacing: -0.4vh !important;
            line-height: 1;
        }

        .actus-container {
            padding: 1vh;

            .actu-bloc {
                width: 100%;
                flex-direction: column;

                .actu-bloc-left {
                    width: 100%;
                    height: 25%;
                }

                .actu-bloc-right {
                    width: 100%;

                }
            }
        }
    }
}

/* iPads, Tablets */
@media (min-width : 481px) and (max-width : 768px) {
    .actus-container {

        .paroisse-name {
            font-size: 5vh !important;
            letter-spacing: -0.4vh !important;
            line-height: 1;
        }

        .actus-container {
            padding: 1vh;

            .actu-bloc {
                width: 100%;
                flex-direction: column;

                .actu-bloc-left {
                    width: 100%;
                    height: 25%;
                }

                .actu-bloc-right {
                    width: 100%;

                }
            }
        }
    }
}

/* Small screens, laptops */
@media (min-width : 769px) and (max-width : 1020px) {
    .actus-container {

        .paroisse-name {
            font-size: 5vh !important;
            letter-spacing: -0.4vh !important;
            line-height: 1;
        }

        .actus-container {
            padding: 1vh;

            .actu-bloc {
                width: 100%;
                flex-direction: column;

                .actu-bloc-left {
                    width: 100%;
                    height: 25%;
                }

                .actu-bloc-right {
                    width: 100%;

                }
            }
        }
    }
}

/* Desktops, large screens */
@media (min-width : 1025px) and (max-width : 1200px) {}

/* Extra large screens, TV */
@media (min-width : 1201px) {}