.demandes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 2vh 0;

    .demandes-header::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-image: linear-gradient(90deg, rgb(242, 207, 13), rgb(242, 207, 13) 47%, rgba(255, 255, 255, 0) 70%);
    }

    .demandes-header {
        position: relative;
        width: 100%;
        height: 30vh;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 130vh;
        background-image: url('../assets/Blocs/Demandes.jpeg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 15vh;

        div {
            position: relative;
            width: 50%;

            h1 {
                position: relative;
                font-size: 13vh;
                letter-spacing: -1vh;
                line-height: 10vh;
                font-family: $sofiaSemiBold;
                color: white;
            }

            h3 {
                font-size: 2.7vh;
                width: 55%;
                line-height: 3vh;
                letter-spacing: -0.2vh;
                margin: 1vh 0;
                color: #ae8e10;
            }
        }
    }

    .demande-form {
        background-color: #dcdde1;
        width: 80%;
        margin: 2vh 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3vh;

        .form-group {
            width: 100%;
            margin: 1vh 0;

            label {
                color: #8f9090;
            }

            input[type="text"] {
                padding: 1vh;
                background-color: #fff;
                width: 100%;
                height: 4vh;
                margin: 1vh 0;

                &:hover {
                    box-shadow: 0px 0px 0px 0.3vh $blue-1;
                }

                &:focus {
                    box-shadow: 0px 0px 0px 0.3vh $blue-1;
                }
            }

            textarea {
                padding: 1vh;
                background-color: #fff;
                width: 100%;
                height: 30vh;
                margin: 1vh 0;
                font-family: $sofiaRegular;

                &:hover {
                    box-shadow: 0px 0px 0px 0.3vh $blue-1;
                }

                &:focus {
                    box-shadow: 0px 0px 0px 0.3vh $blue-1;
                }
            }

            select {
                margin: 1vh 0;
                width: 100%;
                height: 5vh;

                option {
                    width: 100%;
                }
            }


        }

        .montant {
            padding: 1vh;
            width: 25%;
            border-radius: 1vh;
            color: #494949;

            h1 {
                font-family: $sofiaSemiBold;
                font-size: 7vh;
            }
        }
    }

    input[type="submit"] {
        background-color: #f2cf0d;
        width: 100%;
        font-size: 3vh;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {
    .demandes-container {

        .demandes-header {
            padding: 1vh !important;
            height: 12vh !important;
            background-size: 60%;


            div {
                width: 50% !important;

                h1 {
                    font-size: 3.5vh !important;
                    width: 100% !important;
                    letter-spacing: 0px !important;
                    line-height: 1 !important;
                }

                h3 {
                    font-size: 1vh !important;
                    width: 100% !important;
                    letter-spacing: 0px !important;
                    line-height: 1 !important;
                }
            }

        }

        .demande-form {
            width: 95%;

            .form-group {
                label {
                    font-size: 2vh;
                }
            }

            .montant {
                width: 100%;


                h1 {
                    font-family: $sofiaSemiBold;
                    font-size: 5vh;
                }
            }
        }
    }
}

/* iPads, Tablets */
@media (min-width : 481px) and (max-width : 768px) {
    .demandes-container {

        .demandes-header {
            padding: 1vh !important;
            height: 12vh !important;
            background-size: 60%;


            div {
                width: 50% !important;

                h1 {
                    font-size: 3.5vh !important;
                    width: 100% !important;
                    letter-spacing: 0px !important;
                    line-height: 1 !important;
                }

                h3 {
                    font-size: 1vh !important;
                    width: 100% !important;
                    letter-spacing: 0px !important;
                    line-height: 1 !important;
                }
            }

        }

        .demande-form {
            width: 95%;

            .form-group {
                label {
                    font-size: 2vh;
                }
            }

            .montant {
                width: 100%;


                h1 {
                    font-family: $sofiaSemiBold;
                    font-size: 5vh;
                }
            }
        }
    }
}

/* Small screens, laptops */
@media (min-width : 769px) and (max-width : 1020px) {
    .demandes-container {

        .demandes-header {
            padding: 1vh !important;
            height: 12vh !important;
            background-size: 60%;


            div {
                width: 50% !important;

                h1 {
                    font-size: 3.5vh !important;
                    width: 100% !important;
                    letter-spacing: 0px !important;
                    line-height: 1 !important;
                }

                h3 {
                    font-size: 1vh !important;
                    width: 100% !important;
                    letter-spacing: 0px !important;
                    line-height: 1 !important;
                }
            }

        }

        .demande-form {
            width: 95%;

            .form-group {
                label {
                    font-size: 2vh;
                }
            }

            .montant {
                width: 100%;


                h1 {
                    font-family: $sofiaSemiBold;
                    font-size: 5vh;
                }
            }
        }
    }
}

/* Desktops, large screens */
@media (min-width : 1025px) and (max-width : 1200px) {}

/* Extra large screens, TV */
@media (min-width : 1201px) {}