.event-container {
    display: flex;
    flex-direction: column;
    border-top: 3vh solid $purple-1;

    .event-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5vh;

        & img {
            width: 20vh;
        }

        & h1 {
            color: $blue-1;
        }
    }

    .event-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1vh 5vh;
        width: 100%;


        & img {
            width: 70%;
        }

        .event-title {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            font-size: 4.4vh;
            font-family: $sofiaBlack;
            color: #657283;
            width: 70%;
        }

        .event-description {
            width: 70%;
            font-size: 3vh;
            color: #55606e;
            padding: 2vh 0;

            & p {
                width: 90%;
            }
        }

        .event-address {
            width: 70%;
            font-size: 3vh;
            color: $blue-1;
            padding: 2vh 0;
            font-family: $sofiaMedium;
            font-weight: 600;
        }

        .event-sub-details {
            width: 70%;
            height: 10vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .event-date {
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 0.4vh solid $blue-1;
                width: 35vh;
                height: 100%;
                text-transform: capitalize;
                font-size: 3vh;
                font-family: $sofiaMedium;
                color: $blue-1;

                & img {
                    width: 10vh;
                }
            }

            .event-time {
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 0.4vh solid $blue-1;
                height: 100%;
                width: 35vh;
                font-size: 3vh;
                font-family: $sofiaMedium;
                color: $blue-1;

                & img {
                    width: 10vh;
                }
            }

            .event-organizer {
                font-size: 3vh;
                font-family: $sofiaMedium;
                color: $blue-1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60vh;
                padding: 1vh;

                & img {
                    width: 10vh;
                }
            }
        }
    }
}