.provinces-container {
    width: 100%;


    .provinces-container-head::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-image: linear-gradient(-90deg, rgb(168, 200, 43), rgb(168, 200, 43) 47%, rgba(255, 255, 255, 0) 60%);
    }

    .provinces-container-head {
        position: relative;
        width: 100%;
        height: 30vh;
        background-position: 0% 35%;
        background-repeat: no-repeat;
        background-size: 60%;
        background-image: url('../assets/Blocs/Dicoses.jpg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 15vh;

        div {
            position: relative;
            width: 50%;

            h1 {
                position: relative;
                font-size: 13vh;
                letter-spacing: -1vh;
                line-height: 10vh;
                font-family: $sofiaSemiBold;
                color: white;
            }
        }
    }

    .provinces-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .provinces-grid-element {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            background-color: #dcdde1;
            margin: 2vh 0;
            padding: 3vh;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: #f2f7df;
            }

            .province-image {
                width: 40%;
                height: 70vh;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .province-details {
                width: 40%;


                .province-name {
                    background-color: #aacc26;
                    width: 100%;

                    h1 {
                        color: #627206;
                        font-family: $sofiaBlack;
                        font-size: 6vh;
                        letter-spacing: -0.3vh;
                    }
                }

                .province-dioceses {
                    width: 100%;
                    margin: 2vh 0;

                    p {
                        font-family: $sofiaSemiBold;
                        font-size: 2.7vh;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;


                        &:hover {
                            color: #627206;
                        }
                    }
                }
            }
        }
    }
}