.provinces-container {
    width: 100%;


    .provinces-container-head::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-image: linear-gradient(-90deg, rgb(168, 200, 43), rgb(168, 200, 43) 47%, rgba(255, 255, 255, 0) 90%);
    }

    .provinces-container-head {
        position: relative;
        width: 100%;
        height: 30vh;
        background-position: 0% 30%;
        background-repeat: no-repeat;
        background-size: 60%;
        background-image: url('../assets/Blocs/Dicoses.jpg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 15vh;

        div {
            position: relative;
            width: 50%;

            h1 {
                position: relative;
                font-size: 12vh;
                letter-spacing: -1vh;
                line-height: 10vh;
                font-family: $arialBoldMt;
                color: white;
            }
        }
    }

    .provinces-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .provinces-grid-element {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            background-color: #dcdde1;
            margin: 2vh 0;
            padding: 3vh;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: #f2f7df;
            }

            .province-image {
                width: 40%;
                height: 70vh;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .province-details {
                width: 40%;


                .province-name {
                    background-color: #aacc26;
                    width: 82%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1vh;

                    h1 {
                        color: #627206;
                        font-family: $arialBoldMt;
                        font-size: 5vh;
                        letter-spacing: -0.4vh;
                    }
                }

                .province-dioceses {
                    width: 100%;
                    margin: 4vh 0;

                    p {
                        font-family: $arialBoldMt;
                        font-size: 2.7vh;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;


                        &:hover {
                            color: #627206;
                        }
                    }
                }
            }
        }
    }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {
    .provinces-container-head {
        padding: 1vh !important;
        height: 12vh !important;

        div {
            width: 50% !important;

            h1 {
                font-size: 3.5vh !important;
                width: 100% !important;
                letter-spacing: -2px !important;
                line-height: 1 !important;
            }
        }

    }

    .provinces-grid-element {
        flex-direction: column;
        padding: 1vh !important;
        margin: 0.4vh 0 !important;


        .province-image {
            width: 100% !important;
            height: 30% !important;
        }

        .province-details {
            padding: 0.5vh !important;
            width: 95% !important;

            .province-name {
                width: 100% !important;

                h1 {
                    font-size: 2.7vh !important;
                    letter-spacing: -0.1vh !important;
                }
            }
        }

    }
}

/* iPads, Tablets */
@media (min-width : 481px) and (max-width : 768px) {
    .provinces-container-head {
        padding: 1vh !important;
        height: 12vh !important;

        div {
            width: 50% !important;

            h1 {
                font-size: 4vh !important;
                width: 100% !important;
                letter-spacing: -2px !important;
                line-height: 1 !important;
            }
        }

    }

    .provinces-grid-element {
        flex-direction: column;
        padding: 1vh !important;
        margin: 0.4vh 0 !important;


        .province-image {
            width: 100% !important;
            height: 30% !important;
        }

        .province-details {
            padding: 0.5vh !important;
            width: 95% !important;

            .province-name {
                width: 100% !important;

                h1 {
                    font-size: 3.4vh !important;
                    letter-spacing: -0.1vh !important;
                }
            }
        }

    }
}

/* Small screens, laptops */
@media (min-width : 769px) and (max-width : 1020px) {
    .provinces-container-head {
        padding: 1vh !important;
        height: 12vh !important;

        div {
            width: 50% !important;

            h1 {
                font-size: 3.9vh !important;
                width: 100% !important;
                letter-spacing: -2px !important;
                line-height: 1 !important;
            }
        }

    }

    .provinces-grid-element {
        flex-direction: column;
        padding: 1vh !important;
        margin: 0.4vh 0 !important;


        .province-image {
            width: 100% !important;
            height: 30% !important;
        }

        .province-details {
            padding: 0.5vh !important;
            width: 95% !important;

            .province-name {
                width: 100% !important;

                h1 {
                    font-size: 2.9vh !important;
                    letter-spacing: -0.1vh !important;
                }
            }
        }

    }
}

/* Desktops, large screens */
@media (min-width : 1025px) and (max-width : 1200px) {}

/* Extra large screens, TV */
@media (min-width : 1201px) {}